<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationsave">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 읽기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 쓰기 권한 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--android:requestLegacyExternalStorage="true" // android 10부터 사진권한 받기위해 추가  https://darkstart.tistory.com/66 -->
    <application android:requestLegacyExternalStorage="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HEP.KSH.KSH_LoadingActivity"/>
        <activity android:name=".HEP.KSH.NavIntent.KSH_NoticeIntent" />
        <activity android:name=".HEP.KSH.NavIntent.KSH_HelpIntent"/>
        <activity android:name=".HEP.KSH.NavIntent.KSH_SetIntent"/>
        <activity android:name=".HEP.KSH.KSH_AllSeeActivity"/>
        <activity android:name=".HEP.Hep.hep_LocationSave.hep_LocationSaveActivity"/>
        <activity android:name=".HEP.Hep.hep_LocationUpdate.hep_LocationUpdateActivity"/>
        <activity android:name=".HEP.Hep.hep_LocationDetail.hep_LocationDetailActivity"/>
        <activity android:name=".HEP.Hep.hep_LocationSave.hep_FullImage"/>

        <activity android:name=".HEP.KMS_MainActivity"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".HEP.Hep.hep_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".HEP.Hep.hep_closeAppService"
            android:stopWithTask="false"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="8qhm9zaxf6" />
        <!--This is PCS -->
        <activity android:name=".HEP.pcs_RecyclerView.DirectoryList.Pcs_DirectoryCustomPopupWindow"
            android:theme="@style/dicPopupTheme" android:screenOrientation="portrait"></activity>

    </application>
</manifest>